#filelist-container {
    position: relative;
}
#filelist {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid silver;
    margin-bottom: 5px;
    padding: 10px;
}
.progressWrapper {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d6d4d4;
    margin-bottom: 5px;
    position: relative;
    color: #000;
}
.progressContainer {
    min-height: 40px;
}
.progressBarWrapper {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.progressContainer .progressBarWrapper .progressBar {
    background: none repeat scroll 0 0 #55c65e;
    border-right: 1px solid #36943e;
    height: 100%;
    position: absolute;
    width: 100%;
}
.contentWrapper {
    padding: 7px 7px 7px 10px;
    position: relative;
    width: auto;
    z-index: 2;
}
.actionBtn {
    background-position: right center;
    background-repeat: no-repeat;
    height: 32px;
    left: -27px;
    position: absolute;
    top: 5px;
    width: 32px;
}
.actionText {
    cursor: pointer;
    float: right;
    margin-right: 0;
}